
.hidden {
    display: none;
}

header {
    background-color: #7c9458;
    text-align: center;
    padding: 5px;
    color: rgb(17, 177, 17);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 864px;
}

body {
    background-image: linear-gradient(45deg,#ecf00e, #fdff7b);
    text-align: center;    
    padding: 5px;
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 350px;
}


